/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-blockylicious-piccy-image {
    .piccy-image-media-select {
        width: 100%;
        padding: 10px 20px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 10px;
        background: #ddd;
        box-sizing: border-box;
        border: none;
        box-shadow: none;
        cursor: pointer;

        &:hover {
            background: #ccc;
        }
    }

    .piccy-image-thumbnail {
        display: block;
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    .piccy-image-thumbnail-no-image-selected {
        height: 150px;
        width: 100%;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}