/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-blockylicious-clicky-button {
    padding: 15px 15px 15px 15px;
    background: #000;
    color: #fff;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}